<%= form_with model: @employee do |form| %>
  <% if @employee.errors.any? %>
    <h2>Errors</h2>
    <ul>
      <% @employee.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>  
    </ul>
  <% end %>
  <div>
    <p style="text-align:center;">  
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <p style="text-align:center;"> 
    <%= form.label :mobile_number %><br>
    <%= form.text_field :mobile_number %>
  </div>

  <div>
    <p style="text-align:center;"> 
    <%= form.label :pan_card %><br>
    <%= form.text_field :pan_card %>

  </div>
  
  <div>
    <p style="text-align:center;"> 
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </div>
  </p>
  <div>
    <p style="text-align:center;"> 
    <%= form.submit %>
  </div>
<% end %>