
<%= form_with model: @customer do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @customer.errors.full_messages_for(:name).each do |message| %>
    <%end%>
  </div>
  
  <br>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% @customer.errors.full_messages_for(:email).each do |message| %>
    <%end%>
  </div>
  
  <br>
  <div>
    <%= form.label :primary_number %><br>
    <%= form.text_field :primary_number %>
    <% @customer.errors.full_messages_for(:primary_number).each do
    	|message| %>
    <%end%>
  </div>

  <br>
  <div>
    <%= form.label :alternate_number %><br>
    <%= form.text_field  :alternate_number %>
    <% @customer.errors.full_messages_for(:alternate_number).each do |message| %>
    <%end%>
  </div>
 
  <br>
  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
    <% @customer.errors.full_messages_for(:address).each do |message| %><%end%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>