<%= form_with model: [ @customer, @customer.machines.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :model_number %><br>
    <%= form.text_field :model_number%>
  </p>

  <p>
    <%= form.label :model_series %><br>
    <%= form.text_field :model_series%>
  </p>
  
  <p>
    <%= form.label :Employee_id %><br>
    <%= form.select("employee_id", Employee.all.collect {|p| [ p.id ] }, {include_blank: 'None'}) %>

  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>