<%= form_with model: [ @customer, @customer.machines.build ] do |form| %>


  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :model_number %><br>
    <%= form.text_field :model_number %>
  </div>  
  
  <div>
    <%= form.label :model_series %><br>
    <%= form.text_field :model_series %>
  </div>   

  <p>
   
    <%= form.label :name %><br>
    <%= form.select("employee_id", Employee.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
  </p>  


  <div class="field">
    <%= form.label :status %><br>
    <%=  form.collection_select :status, Machine.statuses.map{ |a| [a.first,a.first] },  :first, :second %>
  </div>
<br>
  <p>
   
    <%= form.submit%>
  </p>
<% end %>


