<%= form_with model: [ @customer, @customer.machines.build ] do |form| %>
  

  <p  style="text-align:center;">
  <%= form.label :name %><br>
  <%= form.select("name", Machine.all.collect {|p| [ p.name ] }, {include_blank: 'None'}) %>
  </p>

  <p style="text-align:center;">
  <%= form.label :model_number %><br>
  <%= form.select("model_number", Machine.all.collect {|p| 
    [ p.model_number ] }, {include_blank: 'None'}) %>

  </p>

  <p style="text-align:center;">
  <%= form.label :model_series %><br>
  <%= form.select("model_series", Machine.all.collect {|p| 
    [ p.model_series ] }, {include_blank: 'None'}) %>

  </p>


  <p>
    <p style="text-align:center;">
    <%= form.label :name %><br>
    <%= form.select("employee_id", Employee.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
  </p>  

  <p>
    <p style="text-align:center;">
    <%= form.submit%>
  </p>
<% end %>


